<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{$basePath}/css/bootstrap.css" rel="stylesheet">
    <link href="{$basePath}/css/style.css" rel="stylesheet">

    <title>{ifset title}{include title|stripHtml} | {/ifset}Panika v městečku</title>
</head>

<body>
<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

<img src="{$basePath}/img/logo.png" class="logo">

{include content}

{block scripts}
    <script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
    <script src="{$basePath}/js/jquery.min.js"></script>
    <script src="{$basePath}/js/script.js"></script>
{/block}

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121383233-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-121383233-1');
</script>

</body>
</html>
